a {
  text-decoration: none;
}

.header {
  background-color: cornflowerblue;
}

.nbth {
  text-decoration: underline;
}

.nav-bar {
  display: flex;
}

.nav-bar-list-ul {
  display: flex;
}

.fa-search {
  color: rgba(255, 1, 1, .8);
}

.top-tel-btn {
  background-color: darkgray;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-tel-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  line-height: 80px;
}

.fa-phone-alt {
  width: 100%;
}