.navbar-light .navbar-nav .nav-link:hover {
  color: #d90845;
}

.new-tag-span {
  position: relative;
}

.new-tag {
  position: absolute;
  animation-duration: 1s;
  animation-name: new-tag-animation;
  animation-iteration-count: infinite;
}

@keyframes new-tag-animation {
  0% {
    transform: translateY(-25%);
  }
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(-25%)
  }
}

.carousel-indicators li {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 1px solid #fff;
  box-sizing: border-box;
}

.carousel-indicators li.active {
  background-color: #b81939;
}

.navbar-toggler {
  /* height: 100%; */
  /* width: 100%; */
  background-color: #d90845;
}

.navbar {
  position: fixed;
  height: 70px;
  top: 0;
  width: 100%;
  z-index: 20;
  box-shadow: 0 0 5px 0;
}

.navbar-nav {
  background-color: #f8f9fa;
}

.nav-wrap {
  height: 70px;
  /* width: 100%; */
}

.navbar-toggler {
  height: 100%;
  width: 73.38px;
  margin-right: -16px;
  border-radius: 0;
  outline: none;
}

.navbar-collapse {
  width: 100%;
}